<!--

Purpose: This include file shows how to change elements in the <settings> section
of the web.config file

To enable this, rename this file so that it has a ".config" extension

Notice that when changing simple settings like this, you can typically put in the
setting directly without using "patch:attribute" like we do in the structure below.
But you can also use "patch:attribute" for clarity:
    <setting name="RequireLockBeforeEditing">
      <patch:attribute name="value">false</patch:attribute>
    </setting>

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  REQUIRE LOCK BEFORE EDITING
            If true, the user must have a lock on a document before
            he can edit it, otherwise it is always ready for editing
      -->
      <setting name="RequireLockBeforeEditing" value="false"/>

      <!--  URL patterns
            Used with BlogItemResolver
      -->
      <setting name="XBCategoryURLPattern" value="{0}/category/{1}"/>
      <setting name="XBAuthorURLPattern" value="{0}/author/{1}"/>
      <setting name="XBAuthorViewURLPattern" value="{0}/authorview/{1}"/>
      <setting name="XBTagsURLPattern" value="{0}/tag/{1}"/>
      <setting name="XBSearchURLPattern" value="{0}/searchterm/{1}"/>
      
      <!-- Query string parameters
      
      -->
      <setting name="XBCategoryQS" value="category"/>
      <setting name="XBAuthorQS" value="author"/>
      <setting name="XBAuthorViewQS" value="authorview"/>
      <setting name="XBTagQS" value="tag"/>
      <setting name="XBPageQS" value="page"/>
      <setting name="XBSearchQS" value="searchterm"/>

      <!-- Computed fields
      
      -->
      <setting name="XBParsedCategoryName" value="parsedxblogcategoryname"/>
      <setting name="XBParsedAuthorName" value="parsedxblogauthorname"/>
      <setting name="XBParsedTagName" value="parsedxblogtagname"/>

      <!-- Specific Search index fields
      
      -->
      <setting name="XBSearchPublishDate" value="publish_date"/>

      <!-- Tag Cloud Range
          Percent as number, number is equal to or greater than
          Weight One should be the highest number while weight five is lowest
          If Weight five is not 0, then anything below its range will not be included in cloud
      -->
      <setting name="XBTagCloudWeightOne" value="99"/>
      <setting name="XBTagCloudWeightTwo" value="70"/>
      <setting name="XBTagCloudWeightThree" value="40"/>
      <setting name="XBTagCloudWeightFour" value="20"/>
      <setting name="XBTagCloudWeightFive" value="3"/>

      <!-- Tag Cloud Range Class
          Class names for each weight
      -->
      <setting name="XBTagCloudClassOne" value="weight1"/>
      <setting name="XBTagCloudClassTwo" value="weight2"/>
      <setting name="XBTagCloudClassThree" value="weight3"/>
      <setting name="XBTagCloudClassFour" value="weight4"/>
      <setting name="XBTagCloudClassFive" value="weight5"/>
      
      
      <!-- Related Blog
          Weight value of each.
          For example if two blogs have the same 3 categories
          and RelatedCategoryValue = 2, then categories weight at a value of 6 (3 x 2) 
      -->
      <setting name="RelatedCategoryValue" value="2" />
      <setting name="RelatedAuthorValue" value="1"/>
      <setting name="RelatedTagValue" value="1"/>

      <!-- Paths
      -->
      <setting name="XBPageTemplatePath" value="/sitecore/templates/XBlog/Page" />



      <setting name="BucketConfiguration.DynamicBucketFolderPath" >
        <patch:attribute name="value">XBlogHelper.Buckets.PublishDateBasedFolderPath, XBlogHelper</patch:attribute>
      </setting>
      
    </settings>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="XBlogHelper.Pipelines.BlogItemResolver, XBlogHelper"/>
      </httpRequestBegin>
    </pipelines>
    <events>
      <event name="item:saved">
        <handler type="XBlogHelper.Buckets.EventHandlers.ItemSaved, XBlogHelper" method="Process"/>
      </event>
    </events>
    
    
  </sitecore>
</configuration>
