<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <fieldMap>
            <!--Computed fields were causing issues with Solr and I couldn't find them being used in the udpated code -->
            <!--<fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="parsedxblogcategoryname" returnType="string" />
              <field fieldName="parsedxblogauthorname" returnType="string" />
              <field fieldName="parsedxblogtagname" returnType="string" />
            </fieldNames>-->
            <fieldTypes hint="raw:AddFieldByFieldTypeName">
              <fieldType fieldTypeName="xblogmultilist" returnType="stringCollection" />
            </fieldTypes>
          </fieldMap>
          <!--<documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="parsedxblogcategoryname" returnType="string">Sitecore.Feature.XBlog.Areas.XBlog.ContentSearch.ComputedFields.ParsedXBlogCategoryName,Sitecore.Feature.XBlog</field>
              <field fieldName="parsedxblogauthorname" returnType="string">Sitecore.Feature.XBlog.Areas.XBlog.ContentSearch.ComputedFields.ParsedXBlogAuthorName,Sitecore.Feature.XBlog</field>
              <field fieldName="parsedxblogtagname" returnType="string">Sitecore.Feature.XBlog.Areas.XBlog.ContentSearch.ComputedFields.ParsedXBlogTagName,Sitecore.Feature.XBlog</field>
            </fields>
          </documentOptions>-->
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>