<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Sitecore.Feature.XBlog" description="Feature XBlog">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\XBlog\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
           
            <include name="Sitecore.Feature.XBlog.Layouts" database="master" path="/sitecore/layout/Layouts/Feature/XBlog" />
            <include name="Sitecore.Feature.XBlog.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/XBlog" />
            <include name="Sitecore.Feature.XBlog.templates.Base" database="master" path="/sitecore/templates/Feature/XBlog/Base" />
            <include name="Sitecore.Feature.XBlog.templates.Data" database="master" path="/sitecore/templates/Feature/XBlog/Data" />
            <include name="Sitecore.Feature.XBlog.templates.Page.MVC" database="master" path="/sitecore/templates/Feature/XBlog/Page/Template" />

            
            <include name="Sitecore.Feature.XBlog.YourApps.BlogCreator" database="core" path="/sitecore/client/Your Apps/Blog Creator" />
            <include name="Sitecore.Feature.XBlog.YourApps.XCoreTools" database="core" path="/sitecore/client/Your Apps/XCore Tools" />            
            <include name="Sitecore.Feature.XBlog.PageSettings.Shortcuts" database="core" path="/sitecore/client/Applications/Launch Pad/Page Settings/Shortcuts/XBlog Creator" />
            <include name="Sitecore.Feature.XBlog.Buttons.Tools" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Tools/XBlog Creator" />
            <include name="Sitecore.Feature.XBlog.MediaLibrary.Loader" database="core" path="/sitecore/media library/loader" />
            <include name="Sitecore.Feature.XBlog.MediaLibrary.XBlog" database="core" path="/sitecore/media library/XBlog" />
            <include name="Sitecore.Feature.XBlog.FieldTypes.ListTypes.XBlog" database="core" path="/sitecore/system/Field types/List Types/XBlogMultilist" />            
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>