<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fieldMap>
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="parsedxblogcategoryname"    storageType="YES"  indexType="TOKENIZED"  vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="parsedxblogauthorname"    storageType="YES"  indexType="TOKENIZED"  vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
                <field fieldName="parsedxblogtagname"    storageType="YES"  indexType="TOKENIZED"  vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
            </fieldNames>
            <fieldTypes hint="raw:AddFieldByFieldTypeName">
              <fieldType fieldTypeName="xblogmultilist"                    storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String"   settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
            </fieldTypes>
          </fieldMap>
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="parsedxblogcategoryname"  storageType="yes"  indexType="untokenized">XBlogHelper.ContentSearch.ComputedFields.ParsedXBlogCategoryName,XBlogHelper</field>
            <field fieldName="parsedxblogauthorname"  storageType="yes"  indexType="untokenized">XBlogHelper.ContentSearch.ComputedFields.ParsedXBlogAuthorName,XBlogHelper</field>
            <field fieldName="parsedxblogtagname"  storageType="yes"  indexType="untokenized">XBlogHelper.ContentSearch.ComputedFields.ParsedXBlogTagName,XBlogHelper</field>
          </fields>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
